body{
  margin:0;
  text-align: center;
}
/* .top-container{
  background-color: white;
  position:relative;
  padding-top: 2px;
} */
.bottom-container{
  position: relative;
  max-width: 100%; /* Maximum width */
  margin: 0 auto;
}
.title{
  position: absolute;
  bottom:0;
  background:rgb(0,0,0);
  background: rgba(0,0,0,0.5);
  color:#f1f1f1;
  width:100%;
  padding:10px;
  }
.background-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}
h1{
  font-size: 4rem;
  color:white;
  font-family: 'Allerta Stencil', sans-serif;
}
p{
  font-size: 1.5rem;
  color:white;
  font-family:'Allerta Stencil',cursive;
}
.topnav{
  overflow:hidden;
  background-color: #333;
  top: 0;
  width: 100%;
  height: 7%;
  position: absolute;
}
a{
  float:right;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}
a:hover{
  background-color: #ddd;
  color:black;
}
a.active{
  background-color: #04AA6D;
  color:white;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.bottom-container:hover .image {
  opacity: 0.5;
}

.bottom-container:hover .middle {
  opacity: 1;
}

.btn {
  background-color: #04AA6D;
  color: white;
  font-size: 18px;
  padding: 16px 32px;
}
